<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="text-center">

    <nav>
        <a href="/">Home Page</a>
        <a href="user">User</a>
        <a href="blog">Blog</a>
    </nav>
    <hr>
    <div>
        {% if context == "sardor"%}
        <h1>Salom admin!</h1>
        {% else %}
        <h1>Salom {{ context }}</h1>
        {% endif %}
    </div>
</body>

</html>