<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .text-center {
            text-align: center;
        }
    </style>
</head>

<body class="text-center">
    <nav>
        <a href="/">Home Page</a>
        <a href="/blog">Blog</a>
    </nav>
    <hr>
    <div>
        {% for user in context %}
        <h1>{{ user["full_name"] }}</h1>
        <p>{{ user ["position"] }}</p>
        <hr>
        {% endfor %}
        <!-- <span>{{context [0]["full_name"]}}</span> -->
    </div>
</body>

</html>